.krdwrd-highlighted
{
	background: #F0F !important;
}

.krdwrd-tag-1
{
	background: #F00 !important;
}

.krdwrd-tag-2
{
	background: #FF0 !important;
}

.krdwrd-tag-3
{
	background: #0F0 !important;
}

.krdwrd-tag-1-l
{
	background: #FCC !important;
}

.krdwrd-tag-2-l
{
	background: #FFC !important;
}

.krdwrd-tag-3-l
{
	background: #CFC !important;
}

.krdwrd-highlighted.krdwrd-tag-1 
{
	background: #A55 !important;
}

.krdwrd-highlighted.krdwrd-tag-2
{
	background: #AA5 !important;
}

.krdwrd-highlighted.krdwrd-tag-3 
{
	background: #5A5 !important;
}

.krdwrd-hidden-1 .krdwrd-tag-1 
{
	display: none;
}

.krdwrd-hidden-2 .krdwrd-tag-2
{
	display: none;
}

.krdwrd-hidden-3 .krdwrd-tag-3 
{
	display: none;
}

.kwsb-tag 
{
	margin: 2px;
}

.kw-sidebar
{
	font: -moz-dialog;
}
