.krdwrd-highlighted
{
	background: #F0F !important;
}

.victor_other
{
	background: #F00 !important;
}

.victor_paragraph
{
	background: #FF0 !important;
}

.victor_continuation
{
	background: #0F0 !important;
}
.victor_header
{
	background: #0FF !important;
}
.victor_list
{
	background: #00F !important;
}

.krdwrd-tag-1
{
	background: #FF0000 !important;
}

.krdwrd-tag-2
{
	background: #FFFF00 !important;
}

.krdwrd-tag-3
{
	background: #00FF00 !important;
}

.krdwrd-tag-4
{
	background: #B2B200 !important;
}

.krdwrd-tag-5
{
	background: #00B200 !important;
}

.krdwrd-tag-6
{
	background: #00B200 !important;
    outline-style: dotted;
    outline-width: thin;
}

.krdwrd-tag-7
{
	background: #4444FF !important;
}

.krdwrd-tag-8
{
	background: #4444B2 !important;
}

.krdwrd-tag-1-l
{
	background: #FFCCCC !important;
}

.krdwrd-tag-2-l
{
	background: #FFFFCC !important;
}

.krdwrd-tag-3-l
{
	background: #CCFFCC !important;
}

.krdwrd-highlighted.krdwrd-tag-1 
{
	background: #AA5555 !important;
}

.krdwrd-highlighted.krdwrd-tag-2
{
	background: #AAAA55 !important;
}

.krdwrd-highlighted.krdwrd-tag-3 
{
	background: #55AA55 !important;
}

.krdwrd-highlighted.krdwrd-tag-4 
{
	background: #B2B255 !important;
}

.krdwrd-highlighted.krdwrd-tag-5 
{
	background: #55B255 !important;
}

.krdwrd-highlighted.krdwrd-tag-6 
{
	background: #55B255 !important;
}

.krdwrd-highlighted.krdwrd-tag-7 
{
	background: #3333AA !important;
}

.krdwrd-highlighted.krdwrd-tag-8 
{
	background: #333377 !important;
}

.krdwrd-hidden-1 .krdwrd-tag-1 
{
	display: none;
}

.krdwrd-hidden-2 .krdwrd-tag-2
{
	display: none;
}

.krdwrd-hidden-3 .krdwrd-tag-3 
{
	display: none;
}

.krdwrd-hidden-4 .krdwrd-tag-4 
{
	display: none;
}

.krdwrd-hidden-5 .krdwrd-tag-5 
{
	display: none;
}

.krdwrd-hidden-6 .krdwrd-tag-6 
{
	display: none;
}

.krdwrd-hidden-7 .krdwrd-tag-7 
{
	display: none;
}

.krdwrd-hidden-8 .krdwrd-tag-8 
{
	display: none;
}

.krdwrd-tag-1-100
{
	background: #F00 !important;
}
.krdwrd-tag-1-90
{
	background: #F33 !important;
}
.krdwrd-tag-1-80
{
	background: #F44 !important;
}
.krdwrd-tag-1-70
{
	background: #F55 !important;
}
.krdwrd-tag-1-60
{
	background: #F66 !important;
}
.krdwrd-tag-1-50
{
	background: #F77 !important;
}
.krdwrd-tag-1-40
{
	background: #F88 !important;
}
.krdwrd-tag-1-30
{
	background: #F99 !important;
}
.krdwrd-tag-1-20
{
	background: #FAA !important;
}
.krdwrd-tag-1-10
{
	background: #FBB !important;
}
.krdwrd-tag-1-0
{
	background: #FDD !important;
}
.krdwrd-tag-2-100
{
	background: #FF0 !important;
}
.krdwrd-tag-2-90
{
	background: #FF3 !important;
}
.krdwrd-tag-2-80
{
	background: #FF4 !important;
}
.krdwrd-tag-2-70
{
	background: #FF5 !important;
}
.krdwrd-tag-2-60
{
	background: #FF6 !important;
}
.krdwrd-tag-2-50
{
	background: #FF7 !important;
}
.krdwrd-tag-2-40
{
	background: #FF8 !important;
}
.krdwrd-tag-2-30
{
	background: #FF9 !important;
}
.krdwrd-tag-2-20
{
	background: #FFA !important;
}
.krdwrd-tag-2-10
{
	background: #FFB !important;
}
.krdwrd-tag-2-0
{
	background: #FFD !important;
}
.krdwrd-tag-3-100
{
	background: #0F0 !important;
}
.krdwrd-tag-3-90
{
	background: #3F3 !important;
}
.krdwrd-tag-3-80
{
	background: #4F4 !important;
}
.krdwrd-tag-3-70
{
	background: #5F5 !important;
}
.krdwrd-tag-3-60
{
	background: #6F6 !important;
}
.krdwrd-tag-3-50
{
	background: #7F7 !important;
}
.krdwrd-tag-3-40
{
	background: #8F8 !important;
}
.krdwrd-tag-3-30
{
	background: #9F9 !important;
}
.krdwrd-tag-3-20
{
	background: #AFA !important;
}
.krdwrd-tag-3-10
{
	background: #BFB !important;
}
.krdwrd-tag-3-0
{
	background: #DFD !important;
}
.krdwrd-tag-null
{
    background: #F0F !important;
}
.krdwrd-tag-mrgtie-100
{
    background: #0FF !important;
}
.krdwrd-tag-mrgtie-90
{
    background: #3FF !important;
}
.krdwrd-tag-mrgtie-80
{
    background: #4FF !important;
}
.krdwrd-tag-mrgtie-70
{
    background: #5FF !important;
}
.krdwrd-tag-mrgtie-60
{
    background: #6FF !important;
}
.krdwrd-tag-mrgtie-50
{
    background: #7FF !important;
}
.krdwrd-tag-mrgtie-40
{
    background: #8FF !important;
}
.krdwrd-tag-mrgtie-30
{
    background: #9FF !important;
}
.krdwrd-tag-mrgtie-20
{
    background: #AFF !important;
}
.krdwrd-tag-mrgtie-10
{
    background: #BFF !important;
}
.krdwrd-tag-mrgtie-0
{
    background: #DFF !important;
}

.kwsb-tag 
{
	margin: 2px;
}

.kw-sidebar
{
	font: -moz-dialog;
}
